<h3> User Details</h3>
<div class="container">
	<div class="span4"><label>User name:</label> <%= @user.name %></div>
	<div class="span4"><label>User Email:</label> <%= @user.email %></div>
	<div class="span4"><label>Total Expense:</label> <%= @total_expenses %></div>
	<div class="span4"><label>Total paid:</label> <%= @total_paid %></div>
	<div class="span4">
		<label>Balance to be paid:</label> <%= @total_expenses - @total_paid %>
		<div class="padding-left"></div><br/>
			<h5> List of user need to pay: </h5>
			<% @user_balance.each do |payment| %>
				<div class="span4"><label>User name:</label> <%= payment.user.name %></div>
				<div class="span4"><label>Amount</label> <%= payment.amount %></div>
			<% end %>
		</div>
	</div>
</div>