<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fields">
    <div class="margin-botton-small">
      <label> Name </label> <%= f.text_field :name %>
    </div>
    <div class="margin-botton-small">
      <label> Amount </label> <%= f.text_field :amount %>
    </div>  
    <h5> User of the events</h5>
    <div class="margin-botton-small">
      <div id = "add_user_form" > 
      </div>
      <div class="clear">
       <%= link_to "Add User", add_user_events_path, id: "add_user_link", class: "btn-xs btn btn-primary", onClick: "return add_user()"%>
      </div>
    </div>
      
    <h5> Payments</h5>
    <div class="margin-botton-small">
      <div id = "add_payment_form"> 
      </div>
        <%= link_to "Add Payment", add_payment_events_path, id: "add_payment_link", class: "btn-xs btn btn-primary", onClick: "return add_payment()"%>
      </div>
    </div>

    <div class="actions">
      <%= f.submit  nil, class: "btn btn-primary"  %>
    </div>
  </div>
<% end %>

<div id="members" class=" hide"></div>