<p id="notice"><%= notice %></p>

  <div class="fields">
    <div class="margin-botton-small">
      <label> Name </label> <%= @event.name %>
    </div>
    <div class="margin-botton-small">
      <label> Amount </label> <%=@event.amount %>
    </div>  

    <div class="fields" style="padding-top: 0px;">
      <h5 style=""> Users of this event: </h5>
      <% @event.users.each do |user| %>
        <div class="margin-botton-small">
          <label> User name </label> <%= user.name %> 
        </div>
      <% end %>
    </div>

    <div class="fields" style="padding-top: 0px;">
      <h5 style=""> Payment details: </h5>
      <% @event.payments.each do |payment| %>
        <div class="margin-botton-small">
          <label> User name </label> <%= payment.user.name %> 
        </div>
        <div class="margin-botton-small">
          <label> Amount </label> <%= payment.amount %>
        </div> 
      <% end %>
    </div>
  </div>